
.nav a, .nav select {
    margin: 0 15px;
    text-decoration: none;
    color: #F3FEFF;
    font-weight: bold;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    appearance: none;
}
.health-main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url(../imgs/uni.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    backdrop-filter: blur(7px);
    padding: 20px; /* Optional: adds some padding inside the element */
    border-radius: 10px;
}
.img-sec h1 {
    text-align: center;
    color: #F3FEFF;
    font-size: 150px;
    width: 480px;
    text-shadow: 5px 8px 1px rgba(0, 0, 0, 0.51);
}
.hospitals {
    display: flex;
    flex-direction: column;
}
.hospital {
    display: flex;
    justify-content: space-between;
    height: 60vh;
    padding-top: 5%;
}
.hospital-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
}
.hospital-text {
    width: 50%;
    display: flex;
    background-color: #025159;
    flex-direction: column;
    align-items: end;
    padding: 5%;
    gap: 30px;
    color: #F3FEFF;
}
.hospital-text h1 {
    font-size: 80px;
}
.hospital-text p{
    font-size: 30px;
}

.uni-1 {
    background-image: url(../imgs/uni-2.jpg);
}
.uni-2 {
    background-image: url(../imgs/uni-3.jpg);
}
.uni-3 {
    background-image: url(../imgs/uni-1.jpg);
}
.uni-4 {
    background-image: url(../imgs/uni-4.jpg);
}